
<div class="c-top-bar" id="cTopBar">
    <div class="header-bar"><div class="top-header" id="topHeader">Brand A Tracker</div></div>
    <span (click)="toggleMenu('cNavMenu')" class="material-icons" id=menuButton title="Menu">menu</span>
    <span class="material-icons" id="pageIcon">info</span>
    <span class="page-title" id="pageTitle">Title</span>
    <section class="top-bar">
                <div class="right-items">
                    <i class="material-icons" id="topBarI" title="Fullscreen">fullscreen</i>
                    <i (click)="toggleMenu('cFilterMenu')" class="material-icons" id="topBarI" title="Filters">tune</i>
                    <i class="material-icons" id="topBarI" title="Options">settings</i>
                    <i class="material-icons" id="topBarI" title="Profile">account_box</i>
                    <div class="vertical-br" id="topBarI"></div>
                </div>
                <i class="material-icons" id="mobileI" title="Settings">settings</i>
    </section>  
</div>