.c-nav-menu::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    padding-right: 1vh;
  }
  
  /* Track */
  .c-nav-menu::-webkit-scrollbar-track {
    background: lightgray;
    border-radius: 0;
  }
   
  /* Handle */
  .c-nav-menu::-webkit-scrollbar-thumb {
    background-color: rgb(168, 168, 168);
    border-radius: 0;
  }
  
  /* Handle on hover */
  .c-nav-menu::-webkit-scrollbar-thumb:hover {
    background: rgb(44, 44, 44);
  }
  
  /* fallback */
  body {
    top: 0vh;
  }

  .nav-option {
    position: fixed;
    margin-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    cursor: pointer;
  }
  
  @font-face {
    font-display: block;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v53/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .text-collection {
    margin-top: 38px;
  }
  
  .nav-anchor {
    position: relative;
    display: block;
    margin-top: -.5vh;
  }
  
  .nav-title {
    border:0.05em solid rgb(179, 179, 179);
    border-top: none;
    border-left: none;
    border-right: none;
    padding-top: .3vh;
    padding-bottom: .3vh;
    background-color: rgb(228, 228, 228);
    margin-bottom: 0.7vh;
  }
  
  #navTitleIcon {
    padding-top: .5vh;
    color:rgb(50, 50, 50);
  }
  
  #searchIcon {
    vertical-align: center;
    padding-top: .5vh;
    margin-top: 0.3vh;
    color:rgb(50, 50, 50);
    float: right;
  }
  
  #homeIcon {
    color:rgb(50, 50, 50);
    float: right;
  }
  
  .nav-title-item {
    vertical-align: 10%;;
    top: -0.25em;
    position: relative;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 228, 228);
    color:rgb(50, 50, 50);
  }

  #cNavMenu {
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
  }

  
  .c-nav-menu {
      border:0.05em solid rgb(179, 179, 179);
      border-top: none;
      border-left: none;
      overflow-x: hidden;
      overflow-y: auto;
      z-index: 10;
      left: 0;
      top: 0vh;
      height: 100%;
      position: fixed;
      background-color: rgb(145, 145, 145);
      width: 12em;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; 
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    padding-right: 10px;
    color:rgb(((50, 50, 50)));
  }
  
  .c-nav-icons {
      margin-left: 0.7vh;
      nav: 0.7vh;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
  
  span {
    color:rgb(50, 50, 50);
  }
  
  #navMi {
    color:rgb(50, 50, 50);
  }
  
  .nav-div { 
    cursor: pointer;
    position: relative;
    border:0.05em solid rgb(179, 179, 179);
    border-top: none;
    border-right: none;
    border-left: none;
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;
    color:rgb(50, 50, 50);
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
  
  .c-nav-icons::selection {
    margin-top: 5vh;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }
  
  .nav-div::selection { 
    background-color: transparent;
    color: transparent;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }
  
  @media only screen and (max-width: 500px) and (max-height: 480px) {
      .c-nav-menu {
        border-radius: 0.6vh;
        z-index: 6;
        nav: 0;
        background-color: rgb(145, 145, 145);
        width: 10em;
        height: 100%;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; 
  
    }
  
    span {
      font-size: 10px;
    }
  
    span .material-icons {
      display: none;
      font-size: 20px;
    }
    
    .nav-div { 
      font-size: 10px;
    }
  
  }
  
  @media only screen and (min-height: 1350px) {
    .c-nav-menu {
      border-radius: 0.6vh;
      z-index: 6;
      left: 0;
      background-color: rgb(145, 145, 145);
      width: 14em;
      height: 100%;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; 
  
  }
  
  span {
    font-size: 20px;
  }
  
  span .material-icons {
    display: none;
    font-size: 20px;
  }
  
  .nav-div { 
    font-size: 20px;
  }
  
  }