<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="c-nav-menu.component.js"></script>
</head>

<body id="cNavMenu">
    <div class="c-nav-menu" id="cNavMenuDiv"> 
            <div class="text-collection">
                <div class="nav-anchor">
                    <div class="nav-title">
                        <span class="material-icons" id="navTitleIcon">explore</span>
                        <span class="nav-title-item" id="navTitleItem">Navigation</span>
                        <span class="material-icons" id="searchIcon">search</span>
                    </div>
                </div>
                <div class="nav-div" id="homeButton">
                    <span class="material-icons" id="keyKpisIcon">score</span>
                    <span class="material-icons" id="homeIcon"></span>
                    <span class="nav-option" id="keyKpisTitle">Key KPIs</span>
                </div>
                <div *ngFor="let option of options; index as i; first as isFirst" id="navOptions">
                    <div class="nav-div" id={{divID[i]}}>
                        <span class="material-icons" id={{iconID[i]}}>{{icons[i]}}</span>
                        <span class="nav-option" id={{titleID[i]}}>{{option}}</span>
                    </div>
                </div>
            </div>
        </div>
</body>
