<head>
    <script src="./main.js" type="module"></script>
</head>

<div class="body">
    <div class="c-kpi-card" id="kpiCard"> 
            <span class="material-icons" id=kpiIcon>menu</span>
            <span class="kpi-title" id="kpiTitle">{{kpiTitle[0]}}</span>
            <span class="kpi-score" id="kpiScore">{{kpiMeasureUnit[0]}}</span>
            <span class="vs-net" id="vsNet">vs Prior</span>
            <div class="source-date"><span class="kpi-source" id=kpiSource>{{kpiSource[0]}}</span><span class="kpi-date" id=kpiDate>{{kpiDate[0]}}</span></div>
    </div>
</div>