<head>
    <script src="./main.js" type="module"></script>
</head>

<div class="body">
    <div class="c-kpi-card" id="kpiCard"> 
            <span class="material-icons" id=kpiIcon>menu</span>
            <span class="kpi-title" id="kpiTitle">KPI Title / Timeframe</span>
            <span class="kpi-score" id="kpiScore">##### Unit</span>
            <span class="vs-net" id="vsNet">vs Prior</span>
            <div class="source-date"><span class="kpi-source" id=kpiSource>Source</span><span class="kpi-date" id=kpiDate>Date</span></div>
    </div>
</div>