<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>

<body>
    <div class="c-filter-menu" id="cFilterMenu">
        <div class="filter-anchor"><div class="filter-title"><span class="material-icons" id="filterTitleIcon">tune</span><span class="filter-title-item">Filters</span></div></div>
        <div class="q-filter" id="qFilter">
            <div class="filter-tit"><span class="filter-str">Season</span></div>
            <div class="filter-div"><span class="material-icons">ac_unit</span><span class="filter-item">Winter</span><input class="check-box" type="checkbox" id="check0" name="Winter1" value="Winter" checked></div>
            <div class="filter-div"><span class="material-icons">local_florist</span><span class="filter-item">Spring</span><input class="check-box" type="checkbox" id="check1" name="Spring1" value="Spring" checked></div>
            <div class="filter-div"><span class="material-icons">wb_sunny</span><span class="filter-item">Summer</span><input class="check-box" type="checkbox" id="check2" name="Summer1" value="Summer" checked></div>
            <div class="filter-div"><span class="material-icons">eco</span><span class="filter-item">Fall</span><input class="check-box" type="checkbox" id="check3" name="Fall1" value="Fall" checked></div>
        </div>
        <div class="year-filter" id="yearFilter">
            <div class="filter-tit"><span class="filter-str">Year</span></div>
            <div class="filter-div"><span class="material-icons">today</span><span class="filter-item">2017</span><input class="check-box" type="checkbox" id="check4" name="2017" value=2017></div>
            <div class="filter-div"><span class="material-icons">today</span><span class="filter-item">2018</span><input class="check-box" type="checkbox" id="check5" name="2018" value=2018></div>
            <div class="filter-div"><span class="material-icons">today</span><span class="filter-item">2019</span><input class="check-box" type="checkbox" id="check6" name="2019" value=2019></div>
            <div class="filter-div"><span class="material-icons">today</span><span class="filter-item">2020</span><input class="check-box" type="checkbox" id="check7" name="2020" value=2020 checked></div>
        </div>
        <div class="gran-filter" id="granFilter">
            <div class="filter-tit"><span class="filter-str">Gender</span></div>
            <div class="filter-div"><span class="material-icons">wc</span><span class="filter-item">Male</span><input class="check-box" type="checkbox" id="check8" checked></div>
            <div class="filter-div"><span class="material-icons">wc</span><span class="filter-item">Female</span><input class="check-box" type="checkbox" id="check9" checked></div>
            <div class="filter-tit"><span class="filter-str">Blood Type</span></div>
            <div class="filter-div"><span class="material-icons">medical_services</span><span class="filter-item">A+</span><input class="check-box" type="checkbox" id="check10" value="blood" checked></div>
            <div class="filter-div"><span class="material-icons">medical_services</span><span class="filter-item">A-</span><input class="check-box" type="checkbox" id="check11" value="blood" checked></div>
            <div class="filter-div"><span class="material-icons">medical_services</span><span class="filter-item">B+</span><input class="check-box" type="checkbox" id="check12" value="blood" checked></div>
            <div class="filter-div"><span class="material-icons">medical_services</span><span class="filter-item">B-</span><input class="check-box" type="checkbox" id="check13" value="blood" checked></div>
            <div class="filter-div"><span class="material-icons">medical_services</span><span class="filter-item">AB+</span><input class="check-box" type="checkbox" id="check14" value="blood" checked></div>
            <div class="filter-div"><span class="material-icons">medical_services</span><span class="filter-item">AB-</span><input class="check-box" type="checkbox" id="check15" value="blood" checked></div>
            <div class="filter-div"><span class="material-icons">medical_services</span><span class="filter-item">O+</span><input class="check-box" type="checkbox" id="check16" value="blood" checked></div>
            <div class="filter-div"><span class="material-icons">medical_services</span><span class="filter-item">O-</span><input class="check-box" type="checkbox" id="check17" value="blood" checked></div>
            <div class="filter-tit"><span class="filter-str">Condition</span></div>
            <div class="filter-div"><span class="material-icons">thumb_up_alt</span><span class="filter-item">Stable</span><input class="check-box" type="checkbox" id="check18" checked></div>
            <div class="filter-div"><span class="material-icons">warning</span><span class="filter-item">Critical</span><input class="check-box" type="checkbox" id="check19" checked></div>
            <div class="filter-div-auto"><span class="material-icons">warning</span><span class="filter-item">Auto</span><input class="check-box" type="checkbox" id="check20" checked></div>
        </div>
        <div class="no-filter" id="noFilter">
            <div class="filter-tit-no">No Filters</div>
        </div>
    </div>
</body>
